/* Set A4 page size and define margin for printed document */
@page {
  size: A4;
  margin: 50px;
  background-color: #f1f8f3;
}

/* Remove padding, apply a sans-serif font,
set background colour, and ensure proper box-sizing */
html, body {
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

/* Styling for the main invoice heading (e.g. "Alice invoice for September") */
h1 {
  color: #333;
  font-size: 24px;
}

/* Styling for "Sessions" and "Payment" headings */
h2 {
  font-size: 20px;
  margin-top: 30px;
}

/* Scale QR code size while maintaining aspect ratio*/
img {
  width: 60%;
  height: auto;
}

/* Remove gaps between cells, apply margins, and set border styling */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  border-radius: 10px;
  border: 2px solid #c6c6c6;
}

/* Add padding to table cells to improve readability */
td, th {
  padding: 5px 10px;
}

/* Apply a straight right border to all cells except those in the 
right-most column (which remains rounded; see `table`) */
th:not(:last-child), td:not(:last-child) {
  border-right: 2px solid #c6c6c6;
}

/* Apply a straight bottom border to all cells except those in the
bottom row (which remain rounded; see `table`) */
tr:not(:last-child) td, tr:not(:last-child) th {
  border-bottom: 2px solid #c6c6c6;
}

/* Floated container for splitting the page into two columns. */
.container {
  margin-top: 50px;
  width: 100%;
}

/* Page break for printing */
.page-break {
  page-break-before: always;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Left column (sessions and aggregates) */
.lesson-details {
  float: left;
  width: 50%;
}
.aggregates {
  margin-top: 20px;
}
.money-owed {
  font-weight: bold;
}

/* Right column (QR code, payment link, bank details) */
.payment-details {
  float: right;
  width: 40%;
  text-align: center;
  position: relative;
}
/* Bank and contact details tables without borders */
.bank-details, .contact-details {
  margin: 0 auto;
  text-align: left;
  border: none;
}
.contact-details {
  margin-top: 30px;
}
/* Remove borders from bank details table */
.bank-details td, .contact-details td {
  padding: 5px;
  text-align: left;
  border-style : hidden!important;
}
/* QR code image styling */
.qr-code {
  margin-top: 20px;
}

/* Vertical line (border) between the left and right sides */
.payment-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 2px;
    height: 100%;
    background-color: #c6c6c6;
}
