<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student }} Invoice</title>
</head>
<body>
    <h1>{{ student }} invoice for {{ invoice_period }}</h1>
    <h2>Sessions</h2>
    <table>
        {% for start, end, length in timings %}
        <tr>
            <td>{{ start | british_date }}</td>
            <td>{{ start | time_24h }} until {{ end | time_24h }} ({{ length | hours_minutes }})</td>
        </tr>
        {% endfor %}
    </table>

    <table class="aggregates">
        <tr>
            <td>Total time</td>
            <td>{{ total_hours | hours_minutes }}</td>
        </tr>
        <tr>
            <td>Rate</td>
            <td>£{{ rate }}/hour</td>
        </tr>
        <tr class="money-owed">
            <td>Money owed</td>
            <td>{{ total_charge | currency }}</td>
        </tr>
    </table>
</body>
</html>

